#news {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #FFFFFF;
    width: 80%;
}

#news h1 {
    text-align: center;
}

#news span {
    display: block;
    text-align: center;
}